
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');
*{
    font-family: 'Oxanium', sans-serif;
}

.hoverTiraPokemon{
    background-image: none;
    transition: 500ms ease-in ;
    cursor: pointer;
    
}

.hoverTiraPokemon:hover{
    background-image: radial-gradient(circle, rgb(255,55,55, 0.7) 25%, rgb(249, 250 ,251,0.13) 70%);
}